<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-theme-l1">Capstone</a>
    <a href="model_fits" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Model Fits</a>
    <a href="main_graph" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Main Graph</a>
    <a href="/about" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About this project</a>
    <a href="/resume" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Resume</a>
    <a href="/deployed" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Model</a>
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <!-- each of these pages will show some sample analyses that I think are cool -->
  <h4 class="w3-bar-item"><b>Menu</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" href="/ex_analysis1">Score Distributions</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="/ex_analysis2">Religious Analyses</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="/ex_analysis3">Political Analyses</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="/word_freq">Word Frequencies</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="word_freq_sub_all">Word Frequencies by Subreddit</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="word_freq_sub_top">Top Word Frequencies for High Score Comments by Subreddit</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="word_freq_sub_bottom">Top Word Frequencies for Low Score Comments by Subreddit</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">About me</h1>
      <p>Hello!
      <br> My name is David Smith. A little bit about myself before you dive into my project.
      <br> 
      I grew up in Byron Center Michigan and went to Michigan state University to get my Bachelor’s in psychology.
       There, I worked with Dr. Fenn studying the relationship between sleep and memory.
        From there, I went to the University of Maine where I received my Ph.D. in 2020 in cognitive psychology.
         At the University of Maine, I worked with Dr. Ell in a lab studying how people learn and represent categories.
          During my graduate career, 
          I conducted three independent studies on the effect that testing has on learning in various memory systems.
           Currently, I am taking part in the Data Incubator Data Science Fellowship and am looking a for a career 
           in data science. </p>
           <h1 class="w3-text-teal">About this  project</h1>
      <p>This project is a combination of multiple things. </p> <p>First, it is an analysis of social media, specifically using the social media site Reddit.com.
        I have scraped over a million comments from Reddit.com, grouped them based on things like their political or religious affiliation,
         used natural language processing to conduct sentiment analyses (grouped them as positive, negative, or neutral)
          and looked at how different comments do in various subreddits based on these factors. You can see some example analyses in the tabs on the left of the page.
           <br> <p>Second, I have taken these comments, the groupings I have made, and created a model to predict the comment score. 
           You can see more in the Model Fits tab at the top of the page. I have deployed this model onn the Model page. You can reach this by clicking the Model tab on the top of the screen. This allows you to enter a comment and different features
           and it will predict the comment score for that comment. </p><p> Third, I have created a functional graph where you can find how well different words or 
           phrases do on Reddit.com within the various subreddits. You can see more about that in the Main graph tab at the top of the page. </p>
    </div>
    <div class="w3-third w3-container">
      <p class="w3-padding-large w3-padding-64 w3-center"><img src="/static/Me.jpg" width="290" height="420"></p>
    </div>
  </div>

  <div class="w3-row">
    <div class="w3-twothird w3-container">
     
    </div>

  </div>

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Contact Information</h1>
      <p>If you have any question please feel free to contact me at dsmit1728@gmail.com</p>
    </div>
    <div class="w3-third w3-container">
    </div>
  </div>



<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
