<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.js" crossorigin="anonymous"></script>

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-theme-l1">Capstone</a>
    <a href="model_fits" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Model Fits</a>
    <a href="main_graph" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Main Graph</a>
    <a href="/about" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About this project</a>
    <a href="/resume" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Resume</a>
    <a href="/deployed" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Model</a>
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <!-- each of these pages will show some sample analyses that I think are cool -->
  <h4 class="w3-bar-item"><b>Menu</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" href="/ex_analysis1">Score Distributions</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="/ex_analysis2">Religious Analyses</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="/ex_analysis3">Political Analyses</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="/word_freq">Word Frequencies</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="word_freq_sub_all">Word Frequencies by Subreddit</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="word_freq_sub_top">Top Word Frequencies for High Score Comments by Subreddit</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="word_freq_sub_bottom">Top Word Frequencies for Low Score Comments by Subreddit</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Explore</h1>
      
     <p>The goal of this project is to learn about how different communities react to different words and phrases.
     Here, you can select a subreddit, or subcommunity from the social media site Reddit.com and enter a word or phrase.
     Then, when you press submit (and wait a short bit), you will see a graph of the average score for comments 
     that contain the entered word or phrase. You will also see how the score is affected by the comment being positive or negative!</p> 
 <body>
    <p>Choose the Subreddit or Subcommunity</p>
    <form id='subreddit' action="/main_graph" method="POST">
        <select id="subreddit" name="chosen_reddit">
            <option value="All">All</option>
            <option value="politics">politics</option>
            <option value="gaming">gaming</option>
            <option value="funny">funny</option>
            <option value="aww">aww</option>
            <option value="science">science</option>
            <option value="news">news</option>
            <option value="worldnews">worldnews</option>
            <option value="christianity">christianity</option>
            <option value="islam">islam</option>
            <option value="atheism">atheism</option>
            <option value="conservative">conservative</option>
            <option value="latestagecapitalism">latestagecapitalism</option>
            <option value="libertarian">libertarian</option>
                  
            
        </select>
        <p> Enter a word: </p>
        <p>
           <input type='text' value="Enter Word Here" name='chosen_word'>
        </p>
        <input type="submit" value="Plot">
    </form>
        {{ div | safe }}
        {{ script | safe }}
    </body>
      
      
      
      

    </div>
    <div class="w3-third w3-container">

    </div>
  </div>

  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Conclusions</h1>
      
      <p>Try and entering different words and phrases in various subreddits. Do the results surprise you?
      </p>
 
    </div>
    <div class="w3-third w3-container">

    </div>
  </div>

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
 
    </div>
    <div class="w3-third w3-container">

    </div>
  </div>



<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
