<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-theme-l1">Logo</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Model Fits</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Name for the app use thing</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Me</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">My Contact Info</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Resume</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Partners</a>
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <!-- each of these pages will show some sample analyses that I think are cool -->
  <h4 class="w3-bar-item"><b>Menu</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" href="/ex_analysis1">Example Analysis 1</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="/ex_analysis2">Example Analysis 2</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Analysis</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Link</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Link</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">David Smith Resume</h1>
      <p>Phone: 616 648 8112 | Email: damit1728@gmail.com | github: github.com/davidsmith1993 | linkedin: | linkedin.com/in/david-b-smith</p>

  </div>

  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Skills</h1>
      <p><b>Languages:</b>Python (expert), R, MATLAB, SQL, SPSS </p>
      <p><b>Packages: </b>Pandas, NumPy, SciPy, Scikit-learn, Flask, MatPlotLib, NLTK, Seaborn, GgPlot2, Bokeh</p>
      <p><b>Tools:</b> Git, Jupyter Notebook, RStudio, Qualtrics, Unix</p>
      <p><b>Statistics:</b>Linear Regression, ANOVA, Logistic Regression, Linear Mixed Models
      <br>Bayesian estimation,Time Series Analysis, Factor Analysis, Mediation, Bootstrapping, Jackknifing</p>
    </div>
    <div class="w3-third w3-container">
      <p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>
      <p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>
    </div>
  </div>

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">EXPERIENCE</h1>
      <p><b>Sentiment Analyses of Social Media Text Data – University of Maine, Orono, ME December 2019 - Present</b>
      <br><i>Data Incubator Capstone Project</i>
      <br>•	Used python to scrape 1,000,000 comments from the social media site Reddit.
      <br>•	Conducted sentiment analyses of the comments (nltk) and various models to predict comment scores based on factors extracted. (Actual vs. Predicted r2 = up to .56)
      <br>•	https://github.com/davidsmith1993/sharing-github/blob/master/Religious_Winter2020.ipynb 
      </p>
      
      <p><b>Data Analyst Consultant – University of Maine, Orono, ME			February 2020 - May 2020</b>
      <br><i>Graduate Research Assistant</i>
      <br>•	Used Python (seaborn, pandas, matplotlib) to analyze data from 100 participants on the effect of virtual stimulation on taste for publication.
      <br>•	Collaborated with multiple researchers outside of psychology.
      <br>•	https://github.com/davidsmith1993/Virtual_Beverages/blob/main/Virtual%20Drinks.ipynb 

      <p><b>The Effect of Testing on Memory, Orono, ME				September 2015 - Present</b>
      <br><i>Ph.D. Candidate (Dissertation Research)</i>
      <br>•	Designed a series of three psychology experiments and programmed them in Matlab.
      <br>•	Led a team of 5 research assistants to collect data from 360 participants in 2 years using Qualtrics and Amazon’s Mechanical Turk web service
      <br>• Used Python for data analyses (Pandas, SciPy), figure creation (Seaborn, Matplotlib), and for unsupervised and supervised classification of participants decision strategies (Scikit-learn: multivariate linear regression and k-nearest neighbors).
      <br>• https://github.com/davidsmith1993/WeatherPredictionTaskDissExp 
      
      <p><b>Human Category Learning – University of Maine, Orono, ME			 August 2015 - December 2020</b> 
      <br><i>Graduate Research Assistant</i>
      <br>•	Used Matlab and python to program multiple cognitive experiments and to model participants decision strategies.
      <br>•	Managed a team of 5 research assistants to collect data from 240 participants in 3 years.
      <br>•	Interpreted data for presentation at scientific conferences and for publication.
      <br>•	https://github.com/davidsmith1993/NSF-Rotated-Stim-Data-Inspection 

      <p><b>Course Instructor – University of Maine, Orono, ME 				September 2015 -  December 2020</b>
      <br><i>Graduate Teaching Assistant</i>
      <br>•	Taught a statistics course with 35 students and a cognition course with 38 students.
      <br>•	Collaborated with 2 other course instructors to transfer to online teaching.
      <br>•	Created a semester of lectures and exams for a cognition course I instructed.</p>

  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">EDUCATION</h1>
      <p><b>The University of Maine, Orono</b> December 2020
      <br>Ph.D., Cognitive Science
      <p><b>Michigan State University</b> May, 2014
      <br>B.S., Psychology – Cognitive Science Specialization</b></p>
    </div>
  </div>      
      
      
      
      
    </div>
    <div class="w3-third w3-container">
      <p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>
      <p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>
    </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a class="w3-button w3-black" href="#">1</a>
      <a class="w3-button w3-hover-black" href="#">2</a>
      <a class="w3-button w3-hover-black" href="#">3</a>
      <a class="w3-button w3-hover-black" href="#">4</a>
      <a class="w3-button w3-hover-black" href="#">5</a>
      <a class="w3-button w3-hover-black" href="#">»</a>
    </div>
  </div>

  <footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-32">
      <h4>Footer</h4>
    </div>

    <div class="w3-container w3-theme-l1">
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
